<div>
<%= image_tag(@user.avatar_url, :width => 100) if @user.avatar_url.present? %>
@<%= @user.handle %> - <%= @user.name %>
</div>

<%= render "/tweets/tweet_form" %>


<% @user.tweets.each do |tweet| %>
<div class="entry_user">
	<div><span class="label"><%= tweet.created_at.to_formatted_s(:short)%></span></div>

	<div class="ttext"><h4><%= link_to tweet.content, tweet_path(tweet) %></h4></div>
</div>
<% end %>


